nav {
  width: 100%;
  min-height: 75px;
  background-color: #4d4d4d;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px #6d6d6d;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  float: left;
  font-size: 2.1rem;
}

.info {
  margin-right: 10px;
  font-size: 1rem;
  float: right;
}

.info > a {
  margin-top: 8px;
}

.info > a:hover { 
  background-color: #8d8d8d;
}

nav > div > a {
  padding: 20px;
  display: inline-block;
}
