<div class="grid">
  <app-video-list class="video-list"></app-video-list>
  <app-video-player class="video-player"></app-video-player>
  <app-stat-filters class="stat-filters"></app-stat-filters>
</div>
